* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  color: #5A525A;
  background-color: #110088;
  font-size: 62.5%;
  font-family: 'Lucida Console';
  font-weight: bold;
}

div#root {
  width: 100%;
  height: 100%;
}

a {
  outline: none;
}

a:link, a:visited {
  color: #110088;
}

a:hover, a:active, a:focus {
  color: #EAEFEA;
}

h1, h2 {
  font-size: 1.4rem;
}

